@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&family=Righteous&family=Sriracha&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&family=Righteous&family=Sarala&family=Sriracha&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    height: 100%;
}

body{
    width: 100%;
    background-image: linear-gradient(to right, #2F2325, #8E5D52);
    color: white;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:  1245px;
    margin: auto;
}

nav img{
    width: 62px;
    height: 62px;
}

nav a{
    text-decoration: none;
    color: white;
}

nav a:hover{
    text-decoration: underline;
    color: #fccba2;
}

nav ul{
    display: flex;
    padding-left: 7px;
}

nav li{
    font-size: 17px;
    margin: 27px;
}

.header-line{
    border-top: 1px solid #FFF2E7;
}

header{
    max-width:  1245px;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    font-size: 24px;
    font-weight: 400;
    margin: auto;
    padding-left: 10px;
}

header h1{
    font-family: 'Righteous', cursive;
    font-size: 64px;
    font-weight: 400;
    padding-bottom: 40px;
}

header p{
    max-width: 550px;
    font-family: 'Sarala', sans-serif;
    margin-bottom: 20px;
}

header button{
    font-family: 'Sarala', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #2F2325;
    background-color: #FFF2E7;
    border: none;
    width: 185px;
    height: 60px;
    border-radius: 20px;
    padding: 10px 15px 10px 15px;
    margin-top: 20px;
    box-shadow: 4px 5px 4px #2f2325c4 ;
}

header button:hover{
    background-color: #fccba2;
}

div.nav-container{
    display: flex;
    justify-content: center;
    max-width: 1265px;
    padding-left: 10px;
    margin: auto;
}



main{
    height: 270px;
    text-align: center;
}

main h2{
    width: 271px;
    padding-top: 50px;
    font-family: 'Righteous', cursive;
    font-size: 24px;
    font-weight: 400;
    border-top: 1px solid #FFF2E7;
    margin: auto;
}

main ul{
    margin-top: 20px;
}

main ul > li{
    font-family: 'Sarala', sans-serif;
    padding: 10px;
}

footer{
    max-width: 1840px;
    max-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #FFF2E7;
    padding: 40px;
}

@media(max-width: 960px){
    nav li{
        font-size: 15px;
        margin: 7px;
    }
    nav img{
        width: 52px;
        height: 52px;
    }
    header h1{
        font-size: 50px;
        padding-bottom: 15px;
    }
    header p{
        font-size: 20px;
        margin-bottom: 18px;
    }
    header button{
        font-size: 20px;
        width: 150px;
        height: 50px;
        border-radius: 10px;
        padding: 8px 12px;
        margin-top: 6px;
    }
    main{
        height: 214px;
    }
    main h2{
        width: 222px;
        padding-top: 25px;
        font-size: 20px;
    }
    main ul{
        margin-top: 30px;
    }
    main ul > li{
        font-size: 12px;
        padding: 3px;
    }
    footer{
        padding: 30px;
    }
    footer img{
        width: 150px;
        height: 75px;
    }
}

@media(max-width: 600px){
    nav li{
        font-size: 13px;;
        margin: 4px;
    }

    nav ul{
        padding: 0px 4px;
    }
    header h1{
        font-size: 32px;
        padding-bottom: 8px;  
    }
    header p{
        font-size: 13px;
        margin-bottom: 4px;
    }
    header button{
        font-size: 14px;
        width: 120px;
        height: 40px;
        border-radius: 10px;
        padding: 5px 7px 5px 7px;
        margin-top: 4px;
    }
    main h2{
        width: 200px;
        padding-top: 10px;
        font-size: 15px;
    }
    main ul{
        margin-top: 13px;
    }
    main ul > li{
        padding: 6px;
    }
    footer{
        padding: 20px;
    }
    footer img{
        width: 100px;
        height: 50px;
    }
}

@media(max-width: 383px){

    .li-comunidadeballerini-container{
        width: 67px;
        padding: 1px;
    }
    .li-tutorial-container{
        width: 43px;
        padding: 1px;
    }
    .li-opensource-container{
        width: 37px;
        padding: 1px;
    }
    .li-comandos-container{
        width: 58px;
        padding: 1px;
    }
}

